.spinman-avatar{width:100%;max-height:875px;}.all-about title{margin-bottom:: 40px!important;}.all-about h2{font-size:36px!important;font-weight:500;line-height:1.1;text-transform:none;color:rgb(48,48,48)!important;}.all-about p{font-size:16px!important;line-height:2.1!important;margin-bottom:30px!important;color:rgb(48,48,48);}#desc-bottom,#desc-growth{margin:30px 0px!important;}#desc-bottom h2{text-transform:none!important;text-align:center;margin:10px 0px 50px 0px;}#desc-growth h2{text-transform:none!important;margin:10px 0px 50px 0px;}#featured,#trusted{background:rgb(239,241,243);}#featured img,#trusted img{height:auto;line-height:200px;vertical-align:middle;width:250px;}#featured .row,#trusted .row{text-align:center;}#trusted .row{margin:20px 0px;}#trusted h2{text-align:center;}@media (min-width:600px) {#trusted .row-two{margin-left:20%;margin-right:20%"
  }
  #featured img, #trusted img {
    height: 100x;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    width: 250;
  }
}

@media (max-width:600px) {
  .all-about {
    padding: 0px 20px !important;
  }
  #featured img, #trusted img {
    height: auto;
    line-height: 100px;
    vertical-align: middle;
    width: 200px;
  }
  .all-about p {
    margin-bottom: 0px !important;
  }

}

