<section ng-controller="plCtrl" class="propety_deals">
	<!-- banner images -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
		    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
		        <img ng-src="{{slide.image}}" style="margin:auto; width: 100%;" ng-click="changeView(slide.seo_url,slide.pd_id)">
		        <div class="carousel-caption">
		          <!-- <h4>Slide {{slide.id}}</h4>
		          <p>{{slide.text}}</p> -->
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	  <!-- <div class="row">
	    <div class="col-md-6">
	      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
	      <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
	      <div class="checkbox">
	        <label>
	          <input type="checkbox" ng-model="noWrapSlides">
	          Disable Slide Looping
	        </label>
	      </div>
	    </div>
	    <div class="col-md-6">
	      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
	      <br />Enter a negative number or 0 to stop the interval.
	    </div>
	  </div>
	</div> -->
	<!-- list card -->
	<div class="row">
		<div class="pd-card-container container">
			<div ng-repeat="item in propertyData" class="col-md-3 col-sm-6 col-xs-6 pd-card" ng-click="changeView(item.seo_url,item.id)">
				<img ng-src="{{item.offer_img_url}}" alt="item.seo_url">
				<ul>
					<li><h4>{{item.title}}</h4></li>
					<li><p>{{item.offer_details}}</p></li>
				</ul>			
			</div>
		</div>
	</div>
</section>
