<section ng-controller="plCtrl" class="propety_deals">
	<!-- banner images -->
	<div class="container">
		<div class="row">
			<div>
		    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
		        <img ng-src="{{slide.image}}" style="margin:auto; width: 100%;" ng-click="changeView(slide.seo_url,slide.pd_id)">
		        <div class="carousel-caption">
		          <!-- <h4>Slide {{slide.id}}</h4>
		          <p>{{slide.text}}</p> -->
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="row">
			<div class="pdc-container">
				<ul>
					<li ng-repeat="item in propertyData" class="col-md-12 col-xs-6 col-sm-6">
						<div class="col-md-4" style="padding: 0">
							<img ng-src="{{item.offer_img_url}}" alt="item.seo_url">
						</div>
						<div class="col-md-8">
							<h3>{{item.title}}</h3>
							<pre>{{item.offer_details}}</pre>
							<button ng-click="changeView(item.seo_url,item.id)" class="btn btn-danger">GET DEAL</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
