
		.multiple-scratch-cards-container{
			margin: 50px 0;
			display: inline-block;
			text-align: center;
		}
		.confirm-visiting-container{
			/*display: none;*/
		}
		.confirm-visiting-container ul{
			display: block !important;
		}
		.confirm-visiting-container ul li{
			display: block;
		}
		.confirm-visiting-container ul li label{
			font-size: 24px;
    	font-weight: 100;
    	display: block;
		}
		.confirm-visiting-container ul li input, select{
			display: inline-block;
			width: unset;
			padding: 12px 15px;
    	margin-right: 10px;
		}
		.confirm-visiting-container ul li button{
			margin: auto;
    	display: block;
		}
		.multiple-scratch-cards-container ul{

		}
		.multiple-scratch-cards-container ul li{
			background: transparent;
			/*border-right: 2px solid #fff;*/
		}
		.multiple-scratch-cards-container ul li p{

		}
		.multiple-scratch-cards-container ul li h3 img{
			width: 200px;
			margin: auto;
    	display: block;
		}
		#bridge {
			display: block;
			margin: 0 auto;
		  /*background-image: url('http://localhost:8080/assets/images/ipl_collection/mi-logo.png');*/
		  background-size: contain;
		  background-repeat: no-repeat;
		  background-position: center;
			width: 100%;
			max-width: 300px;
			height: 300px;
		  /*cursor:  crosshair;*/
		  /*cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;*/
		}
		.scratch-card-container { 
		  text-align: center;
		  display: none;
		  margin-top: 70px;
		}
		.scratch-card-container figcaption {   
		  margin-top: 2rem; 
		}

		.select-sc-plots{

		}
		.select-sc-plots span{
			margin-bottom: 10px;
		}
		.select-sc-plots span img{
			width: 250px;
			margin: auto;
			cursor: pointer;
    	display: block;
			border: 5px solid transparent;
		}
		.selected_sc_img{
			border-color: #cd2f2b !important;
		}