
		.multiple-scratch-cards-container{
			margin: 50px 0;
			display: inline-block;
			text-align: center;
		}
		.confirm-visiting-container{
			display: none;
		}
		.confirm-visiting-container ul{
			display: block !important;
		}
		.confirm-visiting-container ul li{
			display: block;
		}
		.confirm-visiting-container ul li label{
			font-size: 24px;
    	font-weight: 100;
    	display: block;
		}
		.confirm-visiting-container ul li input, .confirm-visiting-container ul li select{
			display: inline-block;
			width: unset;
			padding: 12px 15px;
    		margin-right: 10px;
		}
		.confirm-visiting-container ul li button{
			margin: auto;
    	display: block;
		}
		.multiple-scratch-cards-container ul{

		}
		.multiple-scratch-cards-container ul li{
			background: transparent;
			margin-top: 10px;
			position: relative;
		}
		.multiple-scratch-cards-container ul li::before{
			content: 'Scratch to win';
	    background: silver;
	    position: absolute;
	    left: 17px;
	    top: 0;
	    font-size: 20px;
	    z-index: 1;
	    padding: 0 5px;
	    /*border-bottom-right-radius: 100%;*/

		}
		.multiple-scratch-cards-container ul li p{

		}
		.multiple-scratch-cards-container ul li img{
			width: 100%;
			margin: auto;
    	display: block;
    	border: 3px solid #fff;
    	cursor: pointer;
    	opacity: 0.7;
		}
		#bridge {
			display: block;
			margin: 0 auto;
		  /*background-image: url('http://localhost:8080/assets/images/ipl_collection/mi-logo.png');*/
		  background-size: contain;
		  background-repeat: no-repeat;
		  background-position: center;
			width: 100%;
			max-width: 300px;
			height: 300px;
		  /*cursor:  crosshair;*/
		  /*cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;*/
		}
		.scratch-card-container { 
		  text-align: center;
		  display: none;
		  margin-top: 70px;
		}
		.scratch-card-container h4 {   
		  margin-top: 2rem; 
		  line-height: 26px;
		}

		.select-sc-plots{

		}
		.select-sc-plots span{
			margin-bottom: 10px;
		}
		.select-sc-plots span img{
			width: 100%;
			margin: auto;
			cursor: pointer;
    	display: block;
			border: 5px solid transparent;
		}
		.selected_sc_img{
			border-color: #cd2f2b !important;
		}
		.get-sms{
			margin-top: 15px;
			padding: 10px 20px;
		}